.first-page-image-home {
    width: 100%;
}

/*Second Page*/
.second-page-home {
  display: flex;
  flex-direction: row;
  margin-bottom: -17.5rem;
  justify-content: center;
  justify-items: center;
  padding-bottom: 20rem;
  gap: 2rem;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Clothing collleciton  */
.clothing-home {
  display: flex;
  position: relative;
  color: black;
  max-width: 100%;
  flex-direction: column;
  height: auto;
  justify-content: start;
}

.second-page-home  img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.clothes-collection-home:hover,.products-home:hover, .asr-text-home:hover, .shoes-text-home:hover {
  cursor: pointer;
}

 .clothes-collection-home {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  
  
} 

 .clothes-sec-home {
  font-size: 2.2rem;
}

.clothes-sec1-home {
  font-size: 2.2rem;
  margin-top: -1.3rem;
} 

.clothes-sec2-home {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.women-in-brown-home {
}

/* Accessories Section  */
.asr-portion-home {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
}

.girl-with-glasses-home {
  border-radius: 8px;
}

.accessories-home {
  display: flex;
  font-size: 2.2rem;
}

.shop-now-home {
  display: flex;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: black;
}

/* Shoes Section */
.shoes-portion-home {
  display: flex;
  position: relative;
  flex-direction: column;
}

.shoes-text-home {
  z-index: 2;
  position: relative;
  color: black ;
}

.shoes-spring-home {
  font-size: 2.2rem;
  z-index: 3;
  color: black;
}

.shoes-date-home {
  position: relative;
  top: -1.5rem;
  font-size: 2.2rem;
  z-index: 2;
}
.shoes-img-home {
  position: relative;
  bottom: .8rem;
}

.shoes-shop-home {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
  position: relative;
  top: -1.5rem;
  color: black;
}



/*Third page with products*/
.third-page-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

.purchase-headers-home {
  display: flex;
  gap: 5rem;
}

.purchase-titles-home {
  font-weight: 300;
}

/*Third home page products flex*/

.all-products-home {
  display: grid;
  grid-template-rows:  1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 4rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem; 
    justify-content: center;
  align-items: center;

}

.products-home {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.products-home:hover {

}


.clothes-images-home {
  width: 95%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  padding-left: 4%;
}

.products-text2-home {
  font-size: 1rem;
}



.products-title-home {
  display: flex;
  justify-content: center
}

.products-text-home {
  font-size: 1.2rem;
}

.products-text2-home {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  top: 1.2rem;
}

.cost-category-home {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem
}

/*Fourth page Connected Commerce Tools*/
.fourth-section {
  margin-top: 3rem;
  position: relative;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  background-color: #9db2bf;
  padding-bottom: 3rem;
  border-radius: 8px;
  /* margin-top: -4.5rem; */
}

.connected {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  color: white;
  padding-left: .6rem;
}

.connect-mes {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  /* max-width: 34.5rem; */
  position: relative;
  text-align: center;
  color: white;
}

.learn {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

.brands {
  display: flex;
  justify-content: center;
  position: relative;
  left: 20%;
  gap: 18%;
  width: 50%;
  height: 16%;
  /* margin-top: 3rem; */
  background-color: #9db2bf;
}

.google,
.fedex,
.post-office,
.pay-pal,
.apple-pay,
.stripe,
.ups {
  height: 100%;
}


/*Fith about page */
.fith-section {
}

.about-us {
  display: flex;
  margin-top: 2.5rem;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.first-half-home {
  display: flex;
  align-items: center;
  width: 28%;
  overflow: hidden;
}

.lady-in-blue {
  max-height: 100%;
  max-width: 100%;
  margin-right: auto;
}

.second-half-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.about-statement {
  line-height: 1.6rem;
  width: 70%;
  margin-top: 0px;
}


@media ((max-width: 980px)) {
  .all-products-home {
  grid-template-rows:  1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 2rem;
  column-gap: 2rem;
  /* margin-right: 1.9rem; */

  }
  .second-page-home img {
    /* height: 20rem;
    width: 20rem; */
  }

  .second-page-home {
    /* margin-bottom: -15rem; */

  }
  .third-page-home {
    /* margin-top: -8rem; */
   
    margin-top: -15rem;
  }
}

@media ((max-width: 700px)) {
  .all-products-home {
  grid-template-rows:  1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr ;
  row-gap: 1.5rem;
  column-gap: 1.1rem;
  /* margin-right: 1rem;
  margin-left: .5rem; */
  }
  .purchase-headers-home {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .second-page-home {
    margin-bottom: 0rem;
  }
  .third-page-home {
    margin-bottom: 0rem;
  }

  .about-us {
    flex-direction: column;
  }

  .first-half-home {
    width: 100%;
  }
  .second-half-home {
    width: 100%;
  }
}

@media ((max-width: 500px)) {
  .all-products-home {
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr  ;
  row-gap: 1.5rem;
  column-gap: 1.1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  }
}


/*End of products home flex page*/

@media ((min-width: 1200px)) {
  .clothing-home {
  display: flex;
  position: relative;
  color: black;
}

.women-in-brown-home {

}


.asr-portion-home {
  
  display: flex;
  flex-direction: column;
  position: relative;
  /* right: 14.3rem; */
}

.girl-with-glasses-home {
}


.shoes-portion-home {

  
}

.shoes-img-home {

}

.shoes-text-home {

}

.second-page-home {
  /* padding-right: 5rem; */
}

}



@media ((max-width: 900px)) {
.second-page-home {
  gap: 1rem;
}

.clothing-home {
  display: flex;
  position: relative;

  color: black;

}

.women-in-brown-home {
}

 .clothes-collection-home {
  z-index: 2;
  position: relative;

} 

 .clothes-sec-home {
  font-size: 1.5rem;
}

.clothes-sec1-home {
  font-size: 1.5rem;
} 

.clothes-sec2-home {
  display: flex;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}



.asr-portion-home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.girl-with-glasses-home {

}


.accessories-home {
  display: flex;
  font-size: 1.5rem;
}

.asr-text-home {
  z-index: 10;
}

.shop-now-home {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  font-size: .9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: black;
}

.shoes-portion-home {

}

.shoes-img-home {
  position: relative;
 
}

.shoes-text-home {
  position: relative;
  font-size: 1rem;
}

.shoes-spring-home, .shoes-date-home {
  font-size: 1.5rem;
}

.second-page-home {
  padding-right: 0rem;
}
}

@media ((max-width: 750px)) {
  .second-page-home {
    flex-direction: column;
  }
  .second-page-home {
    justify-content: center;
  }

.second-half-home {
 
}

.lady-in-blue {
  padding-left: 4rem;
  padding-right: 4rem;
}

  .shoes-img-home {
  position: relative;
  bottom: 0rem;
}

}


@media ((max-width: 500px)) {
.second-page-home {
  gap: .5rem;
}

.clothing-home {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  top: 0px;
  color: black;
}

.women-in-brown-home {
  border-radius: 8px;
}

 .clothes-collection-home {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  top: 0rem;
} 

 .clothes-sec-home {
  font-size: 1.5rem;
}

.clothes-sec1-home {
  font-size: 1rem;
} 

.clothes-sec2-home {
  display: flex;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}



.asr-portion-home {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0rem;
}

.girl-with-glasses-home {
  /* height: 15rem; */
}


.accessories-home {
  display: flex;
  font-size: 1.5rem;
}

.asr-text-home {
  position: relative;
  bottom: 0rem;
  left: 0rem;
  z-index: 10;
}

.shop-now-home {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  font-size: .9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: black;
}

.shoes-portion-home {
  display: flex;
  position: relative;
  flex-direction: column;
  left: 0rem;
  gap: 0rem;
  
}

.shoes-img-home {
  position: relative;
 
}

.shoes-text-home {
  position: relative;
  font-size: 1rem;
  left: 0rem;
  top: 0rem;
}

.shoes-spring-home, .shoes-date-home {
  font-size: 1.5rem;
}

.second-page-home {
  padding-right: 0rem;
}

 .second-page-home {
  }
  .third-page-home {
    margin-bottom: 0rem;
  }

  .purchase-headers-home {
    gap: 2rem;
  }

  .brands {
    gap: 1.5rem;
    padding-left:2rem;
  }
}


