.first-page-image {
    width: 100%;
}

/*Second Page*/
.second-page {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  /* margin-top: 6rem; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-left: 1rem; */
  /* margin-top: 1.5rem; */
  /* margin-bottom: 2rem; */
  
}

/* Clothing collleciton  */
.clothing {
  /* display: flex;
  position: relative; */
  /* left: 16rem; */
  display: flex;
  position: relative;
  left: 10rem;
  top: 5rem;
  color: #F6635C;
}


 .clothes-collection {
  
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  left: 4rem;
  top: 5rem;
} 

 .clothes-sec {
  font-size: 2.2rem;
}

.clothes-sec1 {
  font-size: 2.2rem;
  margin-top: -1.3rem;
} 

.clothes-sec2 {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.women-in-brown {
  /* height: 40%;
  width: 10%; */
  /* height: 25rem;
  border-radius: 8px;
  position: relative;
  left: 29rem; */
  height: 25rem;
  border-radius: 8px;
 /* position: relative;
  left: 15rem;
  bottom: 6rem; */
}

/* Accessories Section  */
.asr-portion {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 14.3rem;
  bottom: 2.5rem;
  color: #F6635C;
}

.girl-with-glasses {
  height: 25rem;
  border-radius: 8px;
 
}

.accessories {
  display: flex;
  font-size: 2.2rem;
}

.shop-now {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #F6635C;
}

/* Shoes Section */
.shoes-portion {
  /* display: flex;
  position: relative;
  top: 30rem;
  right: 14.5rem; */
  display: flex;
  position: relative;
  left: 8rem;
  bottom: 23rem; 
  
}

.shoes-text {
  width: 50%;
  z-index: 2;
  position: relative;
  top: 7rem;
  left: 6rem;
  color: #F6635C;

}

.shoes-spring {
  font-size: 2.2rem;
  z-index: 3;
  /* width: 13rem; */
  color: #F6635C;
}

.shoes-date {
  position: relative;
  top: -1.5rem;
  font-size: 2.2rem;
  z-index: 2;
  
}
.shoes-img {
  height: 25.7rem;
  border-radius: 8px;
  /* position: relative;
  right: 5rem;
  z-index: 1; */ 
}

.shoes-shop {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
  position: relative;
  top: -1.5rem;
  color: #F6635C;
}


@media ((min-width: 1200px)) {
  .clothing {
  display: flex;
  position: relative;
  left: 15rem;
  top: 5rem;
  color: #F6635C;
}

.women-in-brown {

  height: 29rem;
  border-radius: 8px;

}



.asr-portion {
  
  display: flex;
  flex-direction: column;
  position: relative;
  right: 14.3rem;
}

.girl-with-glasses {
  height: 29rem;


}


.shoes-portion {

  display: flex;
  position: relative;
  left: 13.3rem;
  bottom: 23rem; 
  
}

.shoes-img {
  height: 30.7rem;
 
}

.shoes-text {
  
  position: relative;
  top: 12rem;
  left: 6rem;

}

.second-page {
  padding-right: 5rem;
}

}



@media ((max-width: 900px)) {
.second-page {
  gap: 5rem;
}

.clothing {
  display: flex;
  position: relative;
  left: 0rem;
  top: 2rem;
  color: #F6635C;

}

.women-in-brown {

  height: 15rem;
  border-radius: 8px;

}

 .clothes-collection {
  
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  left: 4rem;
  top: 5rem;
} 

 .clothes-sec {
  font-size: 1.5rem;
}

.clothes-sec1 {
  font-size: 1rem;
  margin-top: -1.3rem;
} 

.clothes-sec2 {
  display: flex;
  /* margin-top: -1rem; */
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}



.asr-portion {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0rem;
  margin-top: 2rem;
}

.girl-with-glasses {
  height: 15rem;
}


.accessories {
  display: flex;
  font-size: 1.5rem;
}

.asr-text {
  position: relative;
  bottom: 7rem;
  left: 12rem;
  z-index: 10;
}

.shop-now {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  font-size: .9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #F6635C;
}

.shoes-portion {
  display: flex;
  position: relative;
  /* bottom: 23rem;  */
  /* right: 20rem; */
  left: -2rem;
  top: -11rem;
}

.shoes-img {
  height: 15.7rem;
  position: relative;
 
}

.shoes-text {
  position: relative;
  font-size: 1rem;
  left: 4rem;
}

.shoes-spring, .shoes-date {
  font-size: 1.5rem;
}

.second-page {
  padding-right: 0rem;
}



}


@media ((max-width: 500px)) {
.second-page {
  gap: 1rem;

}

.clothing {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  top: 0px;
  color: #F6635C;
}

.women-in-brown {
  height: 15rem;
  border-radius: 8px;
}

 .clothes-collection {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  top: 0rem;
} 

 .clothes-sec {
  font-size: 1.5rem;
}

.clothes-sec1 {
  font-size: 1rem;
 
} 

.clothes-sec2 {
  display: flex;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 4px;
}



.asr-portion {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0rem;
  /* margin-top: 2rem; */
}

.girl-with-glasses {
  height: 15rem;
}


.accessories {
  display: flex;
  font-size: 1.5rem;
}

.asr-text {
  position: relative;
  bottom: 0rem;
  left: 0rem;
  z-index: 10;
}

.shop-now {
  display: flex;
  margin-top: -1rem;
  font-weight: 100;
  font-size: .9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #F6635C;
}

.shoes-portion {
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 20rem; 
  /* right: 20rem; */
  left: 0rem;
  top: -4rem;
  gap: 0rem;
  
}

.shoes-img {
  height: 15.7rem;
  position: relative;
 
}

.shoes-text {
  position: relative;
  font-size: 1rem;
  left: 0rem;
  top: 0rem;
}

.shoes-spring, .shoes-date {
  font-size: 1.5rem;
}

.second-page {
  padding-right: 0rem;
}



}
