* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 4.1rem; 
}

.responsive-menue {
  /* display: none; */
  background-color: #f1f6f9;
  margin-top: -.35rem;
  margin-bottom: -.2rem;
  margin-right: 0rem;
  
}

.responsive-options {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration:none;
  background-color: #f1f6f9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-bottom: .5rem;
}

/* Other styles remain the same... */

.logo {
  display: flex;
  margin-top: .35rem;
}

h1 {
  font-weight: 600;
 
}
.main-options {
  display: flex;
  gap: 2.5rem;
  font-size: 16.5px;
  margin-top: 1.5rem;
}



a {
  text-decoration: none;
  color: black;
}

.inventory {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.hamburger-nav {

}

.responsive-menue {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 1.5rem;
}

.re-menue {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 2.5;
}

@media ((min-width: 700px)) {
  .responsive-menue {
    display: none;
  }
}

@media ((max-width: 700px)) {

  .main-options {
    display: none;
  }

  .inventory {
    display: none;
  }

  .responsive-options {
    display:contents;
  }

  .options-buttons {
    position: relative;
    
   
    display: flex;
    flex-direction: column;
    width: 1.5rem;
    top: 1.3rem;
  }

.responsive-menue {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.re-menue {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 2.2;
}

  /*Practice Screen Off*/
  .front-page-img-men {
    
  }
}